.premium-sec {
    text-align: center;
    h2 {
        padding-bottom: 2rem;
        color: $secondaryColor;
    }
}

.form {
    max-width: 30rem;
    margin: 0 auto;
    input {
        width: 100%;
        padding: 0.7rem 1rem;
        border: 0;
        border-radius: 1rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 5px #0008;
        &:focus {
            outline: 2px solid $secondaryColor;
        }
    }
    input, button {
        font-size: 1rem;
    }
}

.btn-submit {
    background: #fff;
    font-size: 1.2rem;
    border: 0;
}
