$primaryColor: #820faf;
$secondaryColor: #bd7913;
$tertiaryColor: #a1f2f5;
$buttonColor: #cf77f1;
$primaryGradient: linear-gradient(to right, $primaryColor, $secondaryColor);
$secondaryGradient: linear-gradient(to right, #cf77f1, #ebd46d);
$shadowColor: rgba(0, 0, 0, 0.726);
$small-radius: 10px;