$primaryColor: #820faf;
$secondaryColor: #bd7913;
$buttonColor: #cf77f1;
$primaryGradient: linear-gradient(to right, $primaryColor, $secondaryColor);
$shadowColor: rgba(0, 0, 0, 0.726);
$radius: 10px;