@import "variables";
@import "reset";
@import "global";
@import "typography";

// header

#check,
.check-btn {
    display: none;
}

.header {
    padding: 0.8rem 0;
    box-shadow: -10px 0 10px $shadowColor;
    position: absolute;
    width: 100%;
}

.logo {
    background: $primaryGradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
    font-size: 2rem;
    display: inline-block;
}

.navbar {
    li {
        margin-left: 1.5rem;
    }
    a:not(.btn) {
        color: $primaryColor;
        text-transform: uppercase;
        &:hover, &:active {
            text-decoration: underline;
        }
    }
}

.btn:hover {
    background-color: $fourthColor;
    color: #fff;
    border-color: $fourthColor;
}

// hero section

.hero-sec {
    padding: 13rem 0 9rem 0;
    text-align: center;
    .logo {
        font-size: inherit;
    }
    p {
        font-size: 1.8rem;
        margin: 1.5rem 0;
        color: $secondaryColor;
    }
    a {
        color: $secondaryColor;
        font-size: 2rem;
    }
}

// Gallery section

.gallery-sec {
    background: $tertiaryColor;
    text-align: center;
    h2 {
        padding-bottom: 1rem;
        font-size: 3rem;
    }
}

.gallery-img {
    flex: 0 1 30%;
    margin: 1.2rem 0;
    padding: 0.5rem;
    background: #fff;
    border-radius: $small-radius;
    background: $secondaryGradient;
    position: relative;
    font-size: 0;
    img {
        border-radius: $small-radius;
    }
}

.free::before {
    content: "Free";
    color: #fff;
    font-size: 1rem;
    background: $primaryColor;
    position: absolute;
    padding: 3px 8px;
    border-bottom-right-radius: $small-radius;
    border-top-left-radius: $small-radius;
    left: 0;
    top: 0;
}

.premium::before {
    @extend .free::before;
    content: "Premium";
    background: $secondaryColor;
}

// Premium section

.premium-sec {
    text-align: center;
    h2 {
        padding-bottom: 2rem;
        color: $secondaryColor;
    }
}

.form {
    max-width: 30rem;
    margin: 0 auto;
    input {
        width: 100%;
        padding: 0.7rem 1rem;
        border: 0;
        border-radius: 1rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 5px #0008;
        &:focus {
            outline: 2px solid $secondaryColor;
        }
    }
    input, button {
        font-size: 1rem;
    }
}

.btn-submit {
    background: #fff;
    font-size: 1.2rem;
    border: 0;
}

// About section

.about-sec {
    background: $secondaryGradient;
}

.about-text {
    flex: 0 1 50%;
    p {
        padding: 1.3rem 0;
    }
}

.about-img {
    flex: 0 1 40%;
    img {
        border-radius: 20px;
    }
}

.btn-about {
    color: $primaryColor;
    border-color: $primaryColor;
}

// footer

.footer {
    text-align: center;
    padding: 1rem 0;
    small {
        line-height: 4;
    }
}

.icon-bar {
    max-width: 10rem;
    margin: 0 auto;
    a {
        @extend .logo;
        font-size: 2.5rem;
    }
}

// media queries

@import "media";